.content {
  margin-top: 60px;
  border-bottom: solid 5px black;
}

#courses_title {
  display: block;
  padding: 12px 4px 12px 16px;
}

.title_box {
  background: #f6f7f9;
  border-bottom: 1px solid #d3d6db;
  border-radius: 2px 2px 0 0;
  min-height: 66px;
}

.box {
  border: 1px solid #d3d6db;
  border-radius: 2px 2px 0 0;
  margin-bottom: 15px;
}

/*** Progress on active courses ***/
.progressrow {
      margin-top: 10px;
}

.progressrow #progressbar {
    padding: 10px;
}
/**************************************/


/*** Lecture page ***/
.tab-border {
  border: 1px lightgrey;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  padding: 20px;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
	-moz-transform:    translateY(-50%);
	-ms-transform:     translateY(-50%);
	-o-transform:      translateY(-50%);
	transform:         translateY(-50%);
}

.embed {
  width: 100%;
  height: 100%;
}

.question-text {
  word-wrap: normal;
}

.nav-margin-top {
  margin-top: 10px;
}

.no-text-cursor {
  cursor: default;
}

.max-vertical{
  min-height: 800px;
  margin-bottom: 20px;
}

.use-parent-vertical{
  max-height: 100%

}

/**************************************/


/*** Completed Courses  ***/
.hiddenRow {
  padding: 10 10 10 10;
}

.hiddenRow #text{
  padding: 10px;
}

.statsdiv {
  background-color: #f2f2f2;
}

.statsdiv h2{
  background-color: #333333;
  color: white;
  padding: 10 10 10 10;
}

.graph {
  padding: 15 10 10 10;
  width: 100%;
}


.table [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072";
	float: left;
	color: #b0c5d8;
	font-size: 18px;
	line-height: 22px;

	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform:         rotate(-90deg);
}
.table [data-toggle="collapse"].collapsed:after {
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}

/* Slideshow container */
.badgecontainer {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.numbertext {
  color: #333333;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.text {
  color: #333333;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.f {
  -webkit-animation-name: f;
  -webkit-animation-duration: 1.5s;
  animation-name: f;
  animation-duration: 1.5s;
}

@-webkit-keyframes f {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes f {
  from {opacity: .4}
  to {opacity: 1}
}

/**************************************/



/*** Accordion drop down arrow ***/
.collapse {
  position:relative;
  height:0;
  overflow:hidden;
  -webkit-transition:height 0.35s ease;
  -moz-transition:height 0.35s ease;
  -o-transition:height 0.35s ease;
  transition:height 0.35s ease;
}
.collapse.in {
  height:auto;
}

.panel-heading [data-toggle="collapse"]:after {
	font-family: 'Glyphicons Halflings';
	content: "\e072";
	float: right;
	color: #b0c5d8;
	font-size: 18px;
	line-height: 22px;

	-webkit-transform: rotate(-90deg);
	-moz-transform:    rotate(-90deg);
	-ms-transform:     rotate(-90deg);
	-o-transform:      rotate(-90deg);
	transform:         rotate(-90deg);
}
.panel-heading [data-toggle="collapse"].collapsed:after {
	-webkit-transform: rotate(90deg);
	-moz-transform:    rotate(90deg);
	-ms-transform:     rotate(90deg);
	-o-transform:      rotate(90deg);
	transform:         rotate(90deg);
}
/**************************************/


/*** Login ***/
.login-form {
  margin: 100px auto;
}
