/*

	SASS variables

*/


$tabColor :  #d9edf7;
$borderColor:  #bce8f1;
$textColor: #31708f;






.hideCourseAnimation {
  transition: all linear 0.5s;
}
.hideCourseAnimation.ng-hide {
  opacity: 0;
}
.hideCourseAnimation.ng-hide-remove{
  transition: all linear 0.2s;
}
.hideCourseAnimation.ng-hide-add {
  transition: all linear 0.2s;
}


.hideListAnimation {
  transition: all linear 0.5s;
}
.hideListAnimation.ng-hide {
  opacity: 0;
}
.hideListAnimation.ng-hide-remove{
  transition: all linear 0.2s;
}
.hideListAnimation.ng-hide-add {
  transition: all linear 0.2s;
}

/*

	These are for the lefthand panel in the recommended pages

*/

.filterOption{
	margin-bottom: 30px;
}

.filterOption .filterLabel{
	font-size: 14px;
	font-weight: bold;
	color: black;
	margin-bottom: 5px;
}





/*

	These are for the specific recommended pages

*/
#recommendedMain{
	/*padding-left: -30px;
	padding-right: -30px;*/
}

#recommendedList{
	color: black;
	.panel-body{
		display: flex;
    	align-items: center;
	}
}


#recommendedLabel{
	font-size: 24px;
	font-weight: bold;
}

/*

		These are for recommended course rows

*/

.courseRow{
	background-image: #31708f;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#bluecircle{
// I need to override percircle.css
   margin: 0 auto !important;
   float: none !important;
	span{
		font-size: 20px;
		margin-top: -14;
   		margin-left: 2px;
   		color: #307bbb;
	}
}
#matchLabel{
	color: #307bbb;
	text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
}
  
.courseRow1{
	//padding-left:30px;
	vertical-align: middle;

}

.courseHeader{
	font-weight: bold;
	font-size: 18px;
}
.courseRow2{
	border-left: 1.5px solid #31708f;
	border-right: 1.5px solid #31708f;
	
	vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10;
	/*border-right: 1px solid black;
    border-left: 1px solid black;*/
}
.courseRow3{
	vertical-align: middle;
	.infoRow{

	}
	.buttonRow{
		//padding-left: 0px;

	}
	button{
		//float:right;
		//padding-left: 0px;
	}
}

.rowLabel{
	display: inline;
	/*font-size: 18px;*/
	font-weight: bold;
}

.courseRow3 button{
	margin-top: 8px;
}


/*

		These are for specific recommeded courses

*/

#currentCourse{
	margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}
#titleCourse{
	font-size: 30px;
	font-weight: bold;
}


#videoCourse{
	margin-top: 35px;
	margin-bottom: 30px;
}

#descriptionCourse{
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
}

#descriptionCourse{
	padding-left: 30px;
	padding-right: 30px;
	margin-bottom: 30px;
}

#topicsCourse{
	padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 5px;
    #courseCoverageLabel{
    	font-weight: bold;
    	font-size: 18px;
    	margin-bottom: 30px;
    }
}

/*

	This is the panel for the modal that pops up when registering
	By nesting we can restrict our styling further
*/

#registerModal{
	.modal-header{
	    background-color: #d9edf7;
	    text-align: center;
	    h4{
	    	font-weight: bold;
	    }
	}
	.modal-body{
		padding-right: 80px;
    	padding-left: 80px;
    	#areYouSure{
    		font-size: 18px;
    		font-weight: bold;
    		text-align: center;
    	}
    	#descriptionInModal{

    	}

	}


	.modal-footer{
		.noButtonRecommended{

		}
		.yesButtonRecommended{

		}

	}

}



/*
	This is an attempted sticky footer:
*/

/*html {
    position: relative;
    min-height: 100%;
}*/

/*body {
    margin-bottom: 250px; Height of the footer
}
*/

/*footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px; Example value
 }
*/
